.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.button {
  background-color: white;
  color: #326a9d;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: #326a9d;
  font-weight: bold;
}
.heading {
  color: #326a9d;
  font-family: 'Roboto';
}
.paragraph {
  color: #64748b;
  font-family: 'Roboto';
}
.content {
  margin: 10px;
  padding: 20px;
  border-style: solid;
  border-color: #cbced2;
  border-radius: 5px;
}
